.link {
  cursor: pointer;
  text-decoration: none;
}

.container {
  background-color: var(--clr-content-background);
  border-radius: 0.75rem;
  box-shadow: 0 1.25rem 1.875rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 100%;
}

.image {
  height: 10rem;
  overflow: hidden;
  position: relative;
}

[data-theme="dark"] {
  .container {
    box-shadow: 0 1.25rem 1.875rem rgba(0, 0, 0, 0.5);
  }

  .image {
    // TODO: This could probably be a mixin or similar (just darkens images for dark mode)
    &::before {
      background: rgba(0, 0, 0, 0.4);
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: background 0.3s linear;
      z-index: 1;
    }
  }
}

.content {
  padding: 1.5rem var(--size-padding-large) var(--size-padding-x-large);
}

.title {
  color: var(--clr-link);
  font: var(--font-heading-small);
  margin-bottom: var(--size-margin-small);
  margin-top: var(--size-margin-x-small);
}

.meta {
  font-size: 0.75rem;
}

.category {
  font-family: var(--font-family-header);
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  border-bottom: 1px solid var(--clr-background);
  color: var(--clr-text);
  font: var(--font-text-small);
  margin: 0;
  margin-bottom: var(--size-margin-small);
  padding-bottom: var(--size-padding-x-large);
}

.author {
  display: flex;
  gap: var(--size-margin-x-small);
}

.name {
  color: var(--clr-header);
  font: var(--font-text-small);
  font-weight: 700;
}

.role {
  color: var(--clr-text);
  font: var(--font-text-x-small);
}
