$background: var(--background);

.avatar {
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  position: relative;

  // Adding here, otherwise in Safari the `ImageWithPlaceholder.img.transition`
  // transition a square image for 0.5 seconds into a circle.
  img {
    border-radius: 50%;
  }
}
