.avatar {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &Border {
    border: solid var(--background) 3px;
  }
}
