@mixin author {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.vertical {
  @include author;
  flex-direction: column;
}

.horizontal {
  @include author;
  flex-direction: row;
  gap: 1rem;
}

.name {
  color: var(--foreground);
  font-style: italic;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

  &.light {
    color: var(--white);
  }

  &.dark {
    color: var(--cod-gray);
  }

  strong {
    font-style: normal;
  }
}
