.nav {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  height: 3.875rem;
  justify-content: space-between;
  padding: 0.25rem 1rem;
  width: 100%;

  .button {
    background-color: transparent;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    fill: #fff;
    font-size: 0;
    margin: 0;
    padding: 0.2rem;
  }
}
