@import "tailwindcss";
@import "@somedevsdo/tailwind";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme inline {
  --color-clr-link: var(--clr-link);
}

@layer base {
  :root {
    --clr-link: var(--clr-palette-seance);
  }

  [data-theme="dark"] {
    --clr-link: var(--clr-palette-perfume);
  }

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    background-color: var(--clr-background);
    color: var(--foreground);
    font-family: var(--font-family-text);
    transition: background 0.2s ease-out;
  }

  a {
    color: inherit;
  }

  img {
    max-width: 100%;
  }

  .astro-code {
    padding: 0.75rem;
  }
}

@layer utilities {
  .font-header {
    font-family: var(--font-family-header);
  }
}
