---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section>
      <h1>About us</h1>
      <p>Rag tag band of misfits ready to blog stuff up.</p>
    </section>

    <div>
      <a href="/"> â† Back to home</a>
    </div>
  </main>
</Layout>
