---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

const allPosts = await getCollection("post");
const sortedPosts = [...allPosts].sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
const postsForGrid = sortedPosts.slice(1);
---

<Layout>
  <Header />
  <main>
    <section>
      <CardGrid data-testid="posts">
        {
          postsForGrid.map((p) => (
            <li>
              <Card post={p} />
            </li>
          ))
        }
      </CardGrid>
    </section>
  </main>
</Layout>
