---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

const allPosts = await getCollection("posts");
---

<Layout>
  <Header />
  <main>
    <section>
      <CardGrid data-testid="posts">
        {
          allPosts.map((p) => (
            <li>
              <Card post={p} />
            </li>
          ))
        }
      </CardGrid>
    </section>
  </main>
</Layout>
