---
import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import type { Frontmatter } from "../lib/posts";
import { getSortedPosts } from "../lib/posts";

const posts = getSortedPosts(await Astro.glob<Frontmatter>("../posts/*.mdx"));
---

<Layout>
  <Header />
  <main>
    <section>
      <CardGrid data-testid="posts">
        {
          posts.slice(1).map((p) => (
            <li>
              <Card post={p} />
            </li>
          ))
        }
      </CardGrid>
    </section>
  </main>
</Layout>
