---
import SocialLink from "./SocialLink.astro";
---

<footer
  class="flex justify-center bg-clr-palette-ebony-clay px-4 py-10 text-center text-clr-palette-silver"
>
  <div class="flex flex-col items-center">
    <img alt="SOME DEVS DO" height={45} src="/logo/logo.svg" width={89} />
    <nav aria-label="Social links">
      <ul class="my-8 flex list-none justify-center gap-[var(--size-margin-small)] p-0">
        <li>
          <SocialLink circled={true} link="https://x.com/somedevsdo" />
        </li>
        <li>
          <SocialLink circled={true} link="https://github.com/somedevsdo" />
        </li>
      </ul>
    </nav>
    <span class="text-xs/relaxed">&copy; {new Date().getFullYear()} somedevsdo</span>
  </div>
</footer>
