---
import ThemeButton from "./ThemeButton.astro";
---

<nav class="bg-clr-palette-ebony-clay">
  <div
    class="mx-auto flex h-[5.625rem] w-full max-w-[1200px] items-center justify-between px-[var(--size-padding-x-large)] text-white md:h-[6.5rem] md:px-8"
  >
    <a href="/" title="View home page">
      <img alt="SOME DEVS DO" height={45} src="/logo/logo.svg" width={89} />
    </a>
    <ThemeButton />
  </div>
</nav>
