---
import ThemeButton from "./ThemeButton.astro";
---

<nav class="bg-clr-palette-ebony-clay">
  <div
    class="mx-auto flex h-22.5 w-full max-w-300 items-center justify-between px-(--size-padding-x-large) text-white md:h-26 md:px-8"
  >
    <a href="/" title="View home page">
      <img alt="SOME DEVS DO" height={45} src="/logo/logo.svg" width={89} />
    </a>
    <ThemeButton />
  </div>
</nav>
