---
import { Icon } from "astro-icon/components";

export type Props = {
  circled?: boolean;
  link: string;
};

const { circled, link } = Astro.props as Props;

const linkMap = [
  {
    link: "x.com",
    title: "X",
    icon: "simple-icons:x",
  },
  {
    link: "github.com",
    title: "GitHub",
    icon: "simple-icons:github",
  },
  {
    link: "dev.to",
    title: "Dev.to",
    icon: "simple-icons:devdotto",
  },
  {
    link: "medium.com",
    title: "Medium",
    icon: "simple-icons:medium",
  },
  {
    link: "polywork.com",
    title: "Polywork",
    icon: "simple-icons:polywork",
  },
];

const title = linkMap.find((item) => link.includes(item.link))?.title || "Web";
const icon =
  linkMap.find((item) => link.includes(item.link))?.icon || "teenyicons:globe-africa-solid";
---

<a
  class={`link ${circled && "circle"}`}
  href={link}
  aria-label={`Visit ${title} page`}
  title={`Visit ${title} page`}
>
  <Icon class="icon" name={icon} aria-hidden="true" />
</a>

<style>
  .link {
    display: inline-block;
    font-size: 0;
  }

  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .circle {
    background-color: var(--clr-palette-perfume);
    border-radius: 50%;
    color: var(--clr-palette-ebony-clay);
    padding: var(--size-padding-small);
  }

  .circle .icon {
    height: 1.125rem;
    width: 1.125rem;
  }
</style>
