---
export type Props = {
  circled?: boolean;
  link: string;
};

const { circled, link } = Astro.props as Props;

const linkMap = [
  {
    link: "twitter.com",
    title: "Twitter",
    icon: "i-simple-icons-twitter",
  },
  {
    link: "github.com",
    title: "GitHub",
    icon: "i-simple-icons-github",
  },
  {
    link: "dev.to",
    title: "Dev.to",
    icon: "i-simple-icons-dev-to",
  },
  {
    link: "medium.com",
    title: "Medium",
    icon: "i-simple-icons-medium",
  },
  {
    link: "polywork.com",
    title: "Polywork",
    icon: "i-simple-icons-polywork",
  },
];

const title = linkMap.find((item) => link.includes(item.link))?.title || "Web";
const icon =
  linkMap.find((item) => link.includes(item.link))?.icon || "i-teenyicons-globe-africa-solid";
---

<a
  class={`link ${circled && "circle"}`}
  href={link}
  aria-label={`Visit ${title} page`}
  title={`Visit ${title} page`}
>
  <div class={icon}></div>
</a>

<style lang="scss">
  .link {
    display: inline-block;
    font-size: 0;

    div {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .circle {
    background-color: var(--clr-palette-perfume);
    border-radius: 50%;
    color: var(--clr-palette-ebony-clay);
    padding: var(--size-padding-small);

    div {
      height: 1.125rem;
      width: 1.125rem;
    }
  }
</style>
