---
import { Icon } from "astro-icon/components";

export type Props = {
  circled?: boolean;
  link: string;
};

const { circled, link } = Astro.props as Props;

const linkMap = [
  {
    link: "x.com",
    title: "X",
    icon: "simple-icons:x",
  },
  {
    link: "github.com",
    title: "GitHub",
    icon: "simple-icons:github",
  },
  {
    link: "dev.to",
    title: "Dev.to",
    icon: "simple-icons:devdotto",
  },
  {
    link: "medium.com",
    title: "Medium",
    icon: "simple-icons:medium",
  },
  {
    link: "polywork.com",
    title: "Polywork",
    icon: "simple-icons:polywork",
  },
];

const title = linkMap.find((item) => link.includes(item.link))?.title || "Web";
const icon =
  linkMap.find((item) => link.includes(item.link))?.icon || "teenyicons:globe-africa-solid";
---

<a
  class:list={["inline-block text-[0]", circled && "rounded-full bg-perfume p-2 text-ebony-clay"]}
  href={link}
  aria-label={`Visit ${title} page`}
  title={`Visit ${title} page`}
>
  <Icon class:list={["h-6 w-6", circled && "h-4.5 w-4.5"]} name={icon} aria-hidden="true" />
</a>
