---
import { Image } from "@astrojs/image/components";

const props = Astro.props;
---

<div class="image">
  <Image alt="" src="" {...props} />
</div>

<style lang="scss">
  .image {
    width: fit-content;
  }

  img {
    height: auto;
    display: block;
  }
</style>
