---
import { Image } from "astro:assets";

const props = Astro.props;
---

<div class="image">
  <Image alt={props.alt} src={props.src} />
</div>

<style lang="scss">
  .image {
    width: fit-content;
  }

  img {
    height: auto;
    display: block;
  }
</style>
