---
import { Image } from "astro:assets";

const props = Astro.props;
---

<div class="image">
  <Image alt={props.alt} src={props.src} />
</div>

<style>
  .image {
    width: 100%;
    padding-bottom: 2.5rem;
  }

  img {
    height: auto;
    display: block;
  }
</style>
