---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../styles/globals.scss";

export type Props = {
  title?: string;
};

const { title = "somedevsdo" } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta content={title} name="description" />
    <meta content={title} name="og:title" />
    <meta content="summary_large_image" name="twitter:card" />
    <title>{title}</title>
    <script is:inline>
      const defaultTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
      const theme = localStorage.getItem("theme") || defaultTheme;
      document.documentElement.setAttribute("data-theme", theme);
      document.documentElement.style.setProperty("color-scheme", theme);
    </script>
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />
    <script>
      import "uno.css";
    </script>
  </body>
</html>
