:root {
  /* Your default theme */
  --background: #fff;
  --foreground: #000;
}

[data-theme="dark"] {
  --background: #000;
  --foreground: #fff;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
  transition: background 0.2s ease-out;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
