:root {
  --cod-gray: #151515;
  --mine-shaft: #151515;
  --dove-gray: #666;
  --alto: #ddd;
  --white: #fff;

  /* Your default theme */
  --background: var(--white);
  --foreground: var(--cod-gray);
  --shadow: rgba(0, 0, 0, 0.05);
  --secondary-text: var(--dove-gray);
  --text: var(--mine-shaft);
}

[data-theme="dark"] {
  --background: var(--cod-gray);
  --foreground: var(--white);
  --shadow: rgba(255, 255, 255, 0.05);
  --secondary-text: var(--alto);
  --text: (--alto);
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
  transition: background 0.2s ease-out;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}
