.hero {
  background: linear-gradient(278.59deg, #c291e1 1.21%, #5b0a91 92.25%);
  clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  height: 280px;
  position: absolute;
  width: 100%;
}

[data-theme="dark"] {
  .hero {
    background: linear-gradient(278.59deg, #520483 1.21%, #12001e 92.25%);
  }

  .featuredImage {
    // TODO: This could probably be a mixin or similar (just darkens images for dark mode)
    &::before {
      background: rgba(0, 0, 0, 0.4);
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: background 0.3s linear;
      z-index: 1;
    }
  }
}

.container {
  margin: 0 16px;
  position: relative;
  word-break: break-word;
}

.homeLink {
  color: var(--clr-palette-white);
  display: block;
  font: var(--font-text-small);
  font-weight: 700;
  margin: 32px 0 16px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.featuredImage {
  background-color: var(--clr-background);
  border-radius: 10px;
  height: 240px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.shareList {
  border-bottom: 1px solid var(--clr-background);
  display: flex;
  gap: var(--size-margin-small);
  justify-content: center;
  list-style-type: none;
  margin: 0 0 var(--size-margin-small);
  padding: 0;

  li {
    margin-bottom: 0;
    padding-bottom: var(--size-padding-small);
  }
}

.shareAction {
  background-color: transparent;
  border: 0;
  color: var(--clr-link);
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  margin: 0;

  svg {
    height: 20px;
    width: 20px;
  }
}

.meta {
  margin-bottom: var(--size-margin-large);
}

.category {
  font-family: var(--font-family-header);
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;

  &::after {
    content: "\00b7";
    padding: 0 var(--size-padding-medium);
  }
}

.date {
  font: var(--font-text-medium);
}

.title {
  color: var(--clr-header);
  font: var(--font-heading-large);
  margin-bottom: 16px;
}

.authorLink {
  font: var(--font-text-medium);
  margin-bottom: 40px;
}

.content {
  background-color: var(--clr-content-background);
  border-radius: 10px;
  margin: 24px auto 6rem;
  padding: 24px;
}

.article {
  color: var(--clr-text);
  font: var(--font-text-medium);

  blockquote {
    border-left: 0.4rem solid var(--foreground);
    font-style: italic;
    margin: 0 0 2.5rem;
    padding: 0.75rem 1rem;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  img {
    max-width: 100%;
  }

  p {
    margin: 0;
    margin-bottom: 2.5rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  ul {
    margin-bottom: 2.5rem;

    ul {
      margin-bottom: 0;
    }
  }

  h2,
  h3,
  h4 {
    color: var(--clr-header);
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  h2 {
    font: var(--font-heading-medium);
  }

  h3 {
    font: var(--font-heading-small);
  }

  h4 {
    font: var(--font-heading-x-small);
  }

  pre {
    border-radius: 0.25rem;
    font-size: 1rem;
    margin-bottom: 2.5rem;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .hero {
    height: 400px;
  }

  .container {
    margin: 0 auto;
    max-width: 704px;
  }

  .homeLink {
    margin-bottom: 32px;
    margin-top: 56px;
  }

  .featuredImage {
    height: 380px;
  }

  .content {
    padding: 32px 40px;
  }

  .details {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .meta {
    margin-bottom: 0;
    order: 1;
  }

  .shareList {
    border-bottom: 0;
    margin-bottom: 0;
    order: 2;

    li {
      line-height: 0;
      padding-bottom: 0;
    }
  }

  .title {
    font: var(--font-heading-x-large);
    margin-bottom: 24px;
  }

  .author {
    margin-bottom: 48px;
  }
}

@media (min-width: 992px) {
  .hero {
    height: 480px;
  }

  .container {
    max-width: 840px;
  }

  .homeLink {
    margin-bottom: 32px;
    margin-top: 64px;
  }

  .featuredImage {
    height: 440px;
  }
}
